header
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/logo.png", alt="Logo agencia",class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/company", class=(ruta === '/company' ? 'active' : '')) Company
                        a.nav-link(href="/Trips", class=(ruta === '/Trips' ? 'active' : '')) Trips
                        a.nav-link(href="/Opinions", class=(ruta === '/Opinions' ? 'active' : '')) Opinions