header
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/logo.svg", alt="Logo agencia",class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end
                        a(href="/company", class="nav-link") Company
                        a(href="/Trips", class="nav-link") Trips
                        a(href="/Opinions", class="nav-link") Opinions