extends ../layout/index
block content
    main.container.md-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1=  page
                blockquote Nulla venenatis sed ante vel rutrum. In imperdiet magna nec porttitor sagittis. Maecenas aliquet tincidunt nisl, ac tempus tellus laoreet nec. Maecenas at mauris augue. Aliquam egestas sagittis augue, id varius nisl sodales a. Morbi eu turpis feugiat, dictum eros sit amet, sollicitudin mauris. Curabitur accumsan massa id nisi congue, ut posuere odio faucibus. Nulla facilisi.
                p Nulla suscipit lacinia nibh sed molestie. Curabitur maximus, orci id ornare hendrerit, ipsum diam viverra magna, et rutrum leo velit at erat. Aliquam sit amet nunc non odio fermentum porttitor et id dolor. Proin scelerisque cursus ipsum, eget pellentesque augue porttitor in.
                p Praesent eget interdum erat. Donec mauris sem, tincidunt nec maximus at, semper et urna. Sed non est augue. Phasellus aliquet semper lacus at pharetra. Pellentesque tincidunt eu elit nec sollicitudin. Nunc libero eros, sagittis sed odio in, scelerisque auctor risus. Morbi ligula orci, cursus in lorem id, viverra vestibulum risus.