extends ../layout/index

block slider
    .slider
        h1 New York City
        em Fancy

block content
    main.container.mt-5
        h2.text-center.mb-5 About us
        .row.mb-5
            .col.md-6
                p Nulla suscipit lacinia nibh sed molestie. Curabitur maximus, orci id ornare hendrerit, ipsum diam viverra magna, et rutrum leo velit at erat. 
                p  Aliquam sit amet nunc non odio fermentum porttitor et id dolor. Proin scelerisque cursus ipsum, eget pellentesque augue porttitor in.
            .col.md-6
                img(src="/img/inicio_nosotros.jpg",class="img-fluid")

        h2.text-center.mb-5 Cooming soon trips
        include ../layout/partials/trips


    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% Off
                        p.titulo Trip to Canada
                        p.fecha 20th December 2020 - 25th December 2020
                        p.precio $1500 USD
    
    .container
        h2.text-center.my-5 Opinions
        include ../layout/partials/opinions
